*{
  margin: 0;
}

  
@font-face {
  font-family: 'lucida';
  src: url(./lucida\ calligraphy\ italic.ttf);
}


.App {

  background: linear-gradient(180deg, rgba(41,217,219,1) 1%, rgba(215,88,99,1) 26%, rgba(151,179,189,1) 100%);
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
box-sizing: content-box;
}

.theHeader{
  display: flex;
  background-color: blue;
  color : white;
  height: 2rem;
  font-size: 22px;
  justify-content: space-evenly;
}

h1{
  padding-top: 3rem;
  padding-left: 3rem;

}

.button{
  position: absolute;
  right: 3rem;
  top: 5.5rem;
  border-radius: 10px;
  font-size: 20px;
}

table{
  background-color: white;
  width: 80%;
  border-collapse: collapse;
}

.tableStyle{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

table tr{
height: 35px;
border-bottom: 2px solid rgb(168, 168, 168);
}

td{
  padding-left: 15px;
}